html {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(
        9.83deg,
        #e3f2fd 6.46%,
        rgba(255, 255, 255, 0) 92.73%
      )
      no-repeat,
    linear-gradient(180deg, #e4e4e4 0%, rgba(235, 235, 235, 0) 100%) no-repeat,
    #ffffff;
  background-attachment: fixed;
}

.nav {
  width: 100%;
  height: 10vh;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.logo {
  padding-left: 3em;
}
.logo img {
  width: 132px;
  height: 64px;
  left: 60px;
  top: 43px;
}

.button {
  background: #64b5f6;
  border-radius: 44px;
  text-align: center;
  color: #ffffff;
  width: 12%;
  min-width: 222px;
  height: 5%;
  margin-bottom: 3em;
  margin-top: 15vh;
}
.plate {
  position: absolute;
}
.plate {
  margin-top: 7em;
  position: fixed;
  right: 0;
  z-index: -1;
  height: 90%;
  top: 1%;
}
.flex {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.column div {
  width: 20%;
  padding: 0.2em;
  text-align: center;
  color: #747d8c;
}
.header {
  border-bottom: 1px solid #64b5f6;
  border-top: 1px solid #64b5f6;
  color: #2f3542;
}
.quantity {
  font-size: 18px;
  position: absolute;
  width: 228px;
  height: 112px;
  right: 5px;
  top: 160px;
  color: #a4b0be;
}
