html {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(
        9.83deg,
        #e3f2fd 6.46%,
        rgba(255, 255, 255, 0) 92.73%
      )
      no-repeat,
    linear-gradient(180deg, #e4e4e4 0%, rgba(235, 235, 235, 0) 100%) no-repeat,
    #ffffff;
  background-attachment: fixed;
}

.nav {
  width: 100%;
  height: 10vh;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.logo{
  padding-left: 3em;
  width: 10em;
}
.logo img{
  width: 100%;
  height: auto;
  padding: 0%;
  max-width: 100%;
}

.button {
  background: #64b5f6;
  border-radius: 44px;
  text-align: center;
  color: #ffffff;
  width: 12%;
  min-width: 222px;
  height: 5%;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.plate {
  position: absolute;
}
.plate {
  margin-top: 7em;
  position: fixed;
  right: 0;
  z-index: -1;
  height: 90%;
  top: 5%;
}

.header{
  border-bottom: 1px solid #64b5f6;
  border-top: 1px solid #64b5f6;
  color: #2f3542;
  font-size: 12px;
  line-height: 14px;
}

.item p, .header p, .wrapper {
  width: 90% !important;
}
.item{
  color: #747D8C;
}
.wrapper{
  display: flex !important;
  justify-content: flex-start !important;
}
.flex {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.flex div{
  margin: 0.2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column1{
  text-align: center;
}
 .column2, .column3{
  text-align: left;
}
.quantity {
  font-size: 18px;
  position: absolute;
  width: 228px;
  height: 112px;
  right: 5px;
  top: 160px;
  color: #a4b0be;
}
.text_align_center{
  text-align: center;
}
img{
  width: 100%;
}
.dropbtn {
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 70% !important;
  background: #FFFFFF;
  align-items: start !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: flex !important;
  flex-direction: column !important;
}
